/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
.breadcrumbs-banner {
  text-align: center;
/*  background: #0B2B6A;*/
background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(11, 43, 106) 100.2%);
  padding: 100px 0;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs-banner {
  }
}

.breadcrumbs-banner h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}



.breadcrumbs-banner .banner-block {
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 24px;
  box-shadow: 0px 0px 17px -3px rgba(114, 4, 207, 1) inset;
  -webkit-box-shadow: 0px 0px 17px -3px rgba(114, 4, 207, 1) inset;
  -moz-box-shadow: 0px 0px 17px -3px rgba(114, 4, 207, 1) inset;
}

@media (max-width: 767px) {
  .breadcrumbs-banner .banner-block {
    padding: 8px 14px;
  }
}

.breadcrumbs-banner .banner-block p {
  font-size: 14px;
  text-align: left;
  color:#0B2B6A;
}

.breadcrumbs-banner .banner-block span {
  font-size: 18px;
  color: #0B2B6A;
  font-weight: bold;
  padding-right: 3px;
  margin-right: 3px;
  text-align: left;
}
@media (max-width: 767px) {
  .breadcrumbs-banner .banner-block span {
    font-size: 14px;
  }
}
.breadcrumbs-banner .banner-block span a {
  transition: 0.3s;
  display: inline-block;
}
.breadcrumb__list span a:hover {
  color: var(--tp-common-black);
}


/*////////*/


.breadcrumbs-banner form {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #bfdcf7;
}

.breadcrumbs-banner form input:active,
.breadcrumbs-banner form input:focus {
  outline: none;
  box-shadow: none;
}

.breadcrumbs-banner form input[type="tel"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

.breadcrumbs-banner form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  transition: 0.3s;
  background-color: #0f61a8;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin-left: 20px;
  background: linear-gradient(to bottom, #0f61a8 5%, #0b2b6a 100%);
  box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
  -webkit-box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
  -moz-box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
}

.breadcrumbs-banner form input[type="submit"]:hover {
  background: linear-gradient(to bottom, #0b2b6a 5%, #0f61a8 100%);
  background-color: #0b2b6a;
  color: #fff;
  box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
  -moz-box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
}

